---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
        
        <h1>Blog post</h1>
        <h2>Lorem ipsum dolor sit amet</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor aut atque neque nemo perferendis numquam modi aspernatur vel quo non autem omnis sapiente vero, cupiditate harum odit voluptate soluta!</p>
        
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus hic aut nemo optio impedit inventore excepturi culpa consequuntur, rerum ipsum pariatur iusto tenetur laudantium autem non similique nobis molestiae.</p>
	</body>
</html>